// Colors

$m-white: #ffff;
$m-green: #01af8f;
$m-purple: #9e81d2;
$m-light-gray: #e6e6e6;
$m-black: #202020;
$m-blue: #4d8ffb;
$m-medium-gray: #595959;
$m-dark-gray: #141414;
$m-orange: #f6a93b;

// Screen sizes
$screen-large: 992px;
$screen-medium: 768px;
$screen-small: 480px;
