@import "variables";
@import "mixins";

.gradientBg {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.dotContainer {
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;

  .dotStyle {
    border-radius: 5px;
  }
}