@import "variables";
@import "mixins";

.nav {
  background: linear-gradient(180deg, $m-black 0%, rgba(36, 31, 32, 0.07) 100%);
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(4, minmax(3rem, 1fr));
  grid-template-areas:
    "logo back dropdown account"
    "logo back dropdown account"
    "logo back dropdown account"
    "logo back dropdown account";
  place-items: start start;
  @media (min-width: $screen-medium) {
    grid-template-columns: 3fr 1fr 8fr 4fr 2fr;
    grid-template-rows: repeat(4, minmax(3rem, 1fr));
    place-items: start start;
    grid-template-areas:
      "logo back nav dropdown account"
      "logo back nav dropdown account"
      "logo back nav dropdown account"
      "logo back nav dropdown account";
  }

  a {
    text-transform: uppercase;
  }

  .back-link {
    display: flex;
    align-items: center;
    color: $m-blue;
    font-size: 1rem;
    margin-left: 2rem; 
    margin-top: 1rem;

    .back-text {
      margin-left: 0.5rem;
    }
  }

  .logo {
    grid-area: logo;
    place-self: start start;
  }

  .nav-links {
    display: none;
    @media (min-width: $screen-medium) {
      grid-area: nav;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: 3rem;

      > li {
        display: inline-block;
      }
    }
  }


  .login-link {
    grid-area: account;
    margin-left: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;

    path, circle {
      stroke: $m-white;
    }
  }
}
